/* body */


/* ================================================== */

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

body {    
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: #888888;
    padding: 0;
    line-height: 1.8em;
    word-spacing: 0px;
}

body.dark-scheme{
    color: #999999;
    background: #000000;
}

body.boxed {
    margin: 30px;
    overflow: hidden;
    border: solid 1px #eee;
}

body .owl-stage .owl-item {
    margin-bottom: 15px;
    
}

#wrapper {
    overflow: hidden;
}

.de-navbar-left #wrapper {
    overflow: visible;
}

a,
a:hover {
    text-decoration: none;
}

a.a-underline {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

a.a-underline span {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #333;
    width: 0;
}

a.a-underline:hover span {
    width: 100%;
}

/* ================================================== */


/* content */


/* ================================================== */

#content {
    width: 100%;
    background: #ffffff;
    padding: 100px 0 100px 0;
    z-index: 100;
}

.de_light #content {
    background: #ffffff;
}

#content {
    background: #ffffff;
}

.dark-scheme #content {
    background: #000000;;
}

/* ================================================== */


/* section */


/* ================================================== */

section {
    padding: 100px 0 100px 0;
    position: relative;
}

.dark-scheme section{
    background: #101010;
}

section.no-bg,
#content.no-bg {
    background: none !important;
}

.bgcolor-variation {
    background: #f6f6f6;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.overlay-gradient {
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    padding: 100px 0 100px 0;
}

.de-navbar-left .container-fluid .container {
    width: 100%;
}

.de-navbar-left section {
    padding: 70px;
}

.de_light section {
    background: #ffffff;
}

.section-fixed {
    position: fixed;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.full-height {
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.text_top{
    position: relative;
    z-index: 1000;
}

/* ================================================== */
/* blog */


/* ================================================== */

.blog-list {
    margin: 0;
    padding: 0;
}

/* blog list */

.blog-list>div {
    list-style: none;
    line-height: 1.7em;
    margin-top: 0px;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
    margin-bottom: 20px;
}

.blog-list img {
    margin-bottom: 20px;
}

.de_light .blog-list li {
    border-bottom: solid 1px #ddd;
}

.blog-list h4 {
    margin-top: 20px;
}

.blog-list h4 a {
    color: #fff;
}

.de_light .blog-list h4 a {
    color: #222222;
}

.de_light .text-light .blog-list h4 a {
    color: #fff;
}

.blog-list .btn-more {
    padding: 3px 25px 3px 25px;
    color: #111;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    float: right;
}

.blog-list .btn-more:hover {
    background: #fff;
}

.de_light .blog-list .btn-more:hover {
    background: #222;
    color: #fff;
}

.blog-list .post-text {
    padding-left: 80px;
}

.bloglist .post-text a.btn-main{
    display: inline-block;
    margin-top: 0px;
    padding: 5px 25px;
}

.blog-list .blog-slider {
    margin-bottom: -60px;
}

.blog-list .date-box {
    position: absolute;
    text-align: center;
    text-shadow: none;
}

.blog-list .date-box .day,
.blog-list .date-box .month {
    display: block;
    color: #fff;
    text-align: center;
    width: 40px;
    z-index: 100;
}

.de_light .blog-list .date-box .month {
    color: #222222;
}

.blog-list .date-box {
    text-align: center;
    background: #f6f6f6;
    padding: 10px;
}

.blog-list .date-box .month {
    font-size: 14px;
}

.blog-list .date-box .day {
    font-family: var(--body-font);
    color: #222222;
    font-weight: bold;
    font-size: 28px;
}

.blog-list .date-box .month {
    font-family: var(--body-font);
    color: #fff;
    font-size: 13px;
    letter-spacing: 3px;
}

.de_light .blog-list .date-box .month {
    border-bottom-color: #ddd;
}

.de_light .text-light .blog-list .date-box .month {
    color: #fff;
}

.blog-snippet li {
    border-bottom: none;
    margin-bottom: 0;
}

#blog-carousel .item.item {
    width: 100%;
}

/* blog comment */

#blog-comment {
    margin-top: 40px;
}

#blog-comment h5 {
    margin-bottom: 10px;
}

#blog-comment ul,
#blog-comment li {
    list-style: none;
    margin-left: -40px;
    padding-left: 0;
}

.rtl #blog-comment li {
    margin-right: -30px;
}

.rtl #blog-comment li li{
    margin-right: 40px;
}

#blog-comment li {
    min-height: 70px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #eee;
}

.dark-scheme #blog-comment li{
    border-bottom-color: rgba(255, 255, 255, .1);
}

#blog-comment li .avatar {
    position: absolute;
    margin-top: 5px;
}

#blog-comment .comment {
    margin-left: 85px;
}

.rtl #blog-comment .comment {
    margin-left: 0;
    margin-right: 85px;
}

#blog-comment li {
    min-height: 70px;
    line-height: 1.6em;
}

#blog-comment li li {
    margin-left: 55px;
    padding-bottom: 0px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px #eee;
    border-bottom: none;
}

.dark-scheme #blog-comment li li {
    border-top-color: rgba(255, 255, 255, .1);
}

#blog-comment li li .avatar {
    position: absolute;
}

.comment-info {
    margin-left: 85px;
    margin-bottom: 5px;
}

.rtl .comment-info {
    margin-left: 0;
    margin-right: 85px;
}

.comment-info .c_name {
    display: block;
    font-weight: 700;
    color: #555555;
    font-family: var(--title-font);
}

.dark-scheme .comment-info .c_name{
    color: #ffffff;
}

.comment-info .c_reply {
    font-family: var(--title-font);
    font-size: 12px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: solid 1px #ddd;
}

.dark-scheme .comment-info .c_reply{
    border-left-color: rgba(255, 255, 255, .2);
}

.comment-info .c_date {
    font-family: var(--title-font);
    font-size: 12px;
}

.blog-list h4 {
    color: #333;
}

.blog-read h4 {
    color: #333;
    letter-spacing: normal;
    font-size: 24px;
    text-transform: none;
}

.blog-carousel ul,
.blog-carousel li {
    margin: 0;
    list-style: none;
}

.blog-carousel h4 {
    margin-bottom: 0px;
}

.blog-carousel p {
    margin-bottom: 10px;
}

.blog-carousel .post-date {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    color: #888;
}

.post-content {
    position: relative;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    overflow: hidden;
    margin-bottom: 20px;
}

.post-content p {
    margin-bottom: 20px;
}

.post-text {
    padding-top: 20px;
}

.post-text h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-text h4 a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.dark-scheme .post-text h4 a{
    color: #ffffff;
}

.post-text .tags {
    font-size: 10px;
    text-transform: uppercase;
}

.p-tagline {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.p-tagline {
    left: auto;
    right: 20px;
}

.p-tagline,
.p-title {
    font-family: var(--body-font);
    background: rgba(var(--primary-color-rgb), .2);
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 10px;
    padding: 7px 10px 6px 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.p-tagline,
.p-title.invert {
    background: var(--secondary-color);
}

.p-title {
    font-size: 12px;
    margin-bottom: 20px;
}

.post-text .p-date {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 500;
}

.post-info {
    border-top: solid 1px rgba(0, 0, 0, .1);
    padding-top: 15px;
}

.blog-read img {
    margin-bottom: 20px;
}

.blog-read .post-text {
    padding: 0;
}

.post-date,
.post-comment,
.post-like,
.post-by,
.post-author {
    margin-right: 20px;
    font-size: 13px;
    color: #999;
    font-family: var(--body-font);
}

.dark-scheme .post-date,
.dark-scheme .post-comment,
.dark-scheme .post-like,
.dark-scheme .post-by,
.dark-scheme .post-author {
    color: #ffffff;
}

.post-author {
    color: #777;
}

.post-date:before,
.post-comment:before,
.post-like:before,
.post-by:before {
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 11px;
}

/*.post-date:before{
    content: "\f133";
}*/
.post-comment:before {
    content: "\f0e5";
}

.post-like:before {
    content: "\f08a";
}

.post-author:before {
    content: "By: ";
}

/* blog comment form */

#commentform label {
    display: block;
}

#commentform input {
    width: 290px;
}

#commentform input:focus {
    border: solid 1px #999;
    background: #fff;
}

#commentform textarea {
    width: 97%;
    padding: 5px;
    height: 150px;
    color: #333;
}

#commentform textarea:focus {
    border: solid 1px #999;
    background: #fff;
}

#commentform input.btn {
    width: auto;
}


.post-meta {
    margin: 0px 0 10px 0px;
    border: solid 1px rgba(255, 255, 255, .2);
    border-left: none;
    border-right: none;
    border-left: none;
    font-size: 12px;
    display: table;
    width: 100%;
    table-layout: fixed;
    color: #fff;
}

.post-meta a {
    color: #fff;
}

.post-meta span {
    display: table-cell;
    padding: 10px 0 10px 0;
    text-align: center;
}

.post-meta span i {
    float: none;
    margin-right: 10px;
}

.post-image img {
    width: 100%;
    margin-bottom: 0px;
}

.blog-slide {
    padding: 0;
    margin: 0;
}

.blog-item {
    margin-bottom: 60px;
}

.blog-item img.preview {
    width: 100%;
    margin-bottom: 30px;
}

.post-image {
    position: relative;
}

.post-image .post-info {
    position: absolute;
    bottom: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.post-image .post-info .inner {
    margin: 0 30px 0 30px;
    padding: 3px 20px;
    border-radius: 0px 10px 0 0;
}

.post-image .post-date,
.post-image .post-author {
    color: #ffffff;
}

/* ================================================== */




/* preloader */


/* ================================================== */

#preloader {
    display: table;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
}

.dark-scheme #preloader{
    background: #101010;
}


.preloader1 {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 2px solid;
    border-top-color: rgba(0, 0, 0, 0.65);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    -webkit-animation: preloader1 1s ease-in infinite;
    animation: preloader1 1s ease-in infinite;
    position: absolute;
    margin-left: -30px;
    top: 45%;
}

@keyframes preloader1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes preloader1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


/* css attributes */


/* margin top */

.mt0 {
    margin-top: 0;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt70 {
    margin-top: 70px;
}

.mt80 {
    margin-top: 80px;
}

.mt90 {
    margin-top: 90px;
}

.mt100 {
    margin-top: 100px;
}

/* margin bottom */

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb100 {
    margin-bottom: 100px;
}

.ml0 {
    margin-left: 0;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml80 {
    margin-left: 80px;
}

.ml90 {
    margin-left: 90px;
}

.ml100 {
    margin-left: 100px;
}

.mr0 {
    margin-right: 0;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.mr60 {
    margin-right: 60px;
}

.mr70 {
    margin-right: 70px;
}

.mr80 {
    margin-right: 80px;
}

.mr90 {
    margin-right: 90px;
}

.mr100 {
    margin-right: 100px;
}

.mb-100 {
    margin-bottom: -100px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.padding30 {
    padding: 30px;
}

.padding40 {
    padding: 40px;
}

.padding50 {
    padding: 50px;
}

.padding60 {
    padding: 60px;
}

.padding70 {
    padding: 70px;
}

.padding80 {
    padding: 80px;
}

.padding100 {
    padding: 100px;
}

.pt0 {
    padding-top: 0;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.pt70 {
    padding-top: 70px;
}

.pt80 {
    padding-top: 80px;
}

.pb0 {
    padding-bottom: 0;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb80 {
    padding-bottom: 80px;
}

.pl130 {
    padding-left: 130px;
}

.pl30{
    padding-left: 30px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

/* margin top */

.mt-10 {
    margin-top: -10px;
}

.mt-20 {
    margin-top: -20px;
}

.mt-30 {
    margin-top: -30px;
}

.mt-40 {
    margin-top: -40px;
}

.mt-50 {
    margin-top: -50px;
}

.mt-60 {
    margin-top: -60px;
}

.mt-70 {
    margin-top: -70px;
}

.mt-80 {
    margin-top: -80px;
}

.mt-90 {
    margin-top: -90px;
}

.mt-100 {
    margin-top: -100px;
}

.absolute {
    position: absolute;
    z-index: 1;
}

.relative {
    position: relative;
    z-index: 1;
}

.z1000 {
    z-index: 1000;
}

.overflow-hidden {
    overflow: hidden;
}

.width100 {
    width: 100%;
}

.border1 {
    border-width: 1px;
}

.bordertop {
    border-top: solid 1px #eee;
}

.borderbottom {
    border-bottom: solid 1px #eee;
}

.pos-top {
    position: relative;
    z-index: 1000;
}

/* ================================================== */
/* overide bootstrap */


/* ================================================== */

.btn{
    font-family: var(--title-font);
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.dark-scheme .modal-header .btn-close{
    background: url(src/assets/ui/icon-x-light.png) center no-repeat;
}

.dark-scheme .modal-header,
.nav-tabs{
    border-bottom-color: rgba(255, 255, 255, .2);
}

.dark-scheme .modal-content{
    background: #101010;
}

.dark-scheme .modal-footer{
    border-top-color: rgba(255, 255, 255, .2);
}

.dark-scheme .accordion-body{
    background: #101010;
    border-color: #292F45;
}

.nav-tabs .nav-link {
    font-weight: 600;
}

.tab-default .tab-content {
    margin-top: 20px;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.btn-primary {
    text-shadow: none;
    border: none;
}

.btn.btn-primary:hover {
    background: #555;
}

.img-responsive {
    display: inline-block;
}

.img-shadow {
    -webkit-box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.1);
}

.img-shadow-s2 {
    -webkit-box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, .5);
    box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, .5);
}

img.img-auto {
    width: auto;
    height: auto;
}

img.img-rounded {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.box-rounded {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.img-profile {
    border: solid 3px #fff;
}

.label {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

table thead {
    font-weight: bold;
}

p.lead {
    font-size: 18px;
    line-height: 1.7em;
    margin-top: 0;
    font-weight: 300;
}

p.lead.big {
    font-size: 18px;
}

p.sub {
    font-size: 14px;
}

p.p-info{
    font-size: 14px;
    margin: 0;
    padding: 0 0 10px 0;
}

.panel-group {
    opacity: .8;
}

.panel-heading,
.panel-body {
    background: #27282B;
    border: solid 1px #202220;
    border-radius: 0;
}

.panel-body {
    border-top: none;
}

.progress {
    background: #27282B;
}

.panel-heading h4 a {
    display: block;
}

.panel-heading h4 a:hover {
    color: #eceff3;
}

.panel-default,
.panel-collapse,
.panel-collapse,
.panel-group .panel {
    border: none;
    border-radius: 0;
}

.panel-heading {
    background: #222;
}

.table-bordered,
.table-bordered td {
    border: solid 1px #202220;
}



/* image position */


/* ================================================== */

.img-left {
    float: left;
    margin: 5px 15px 15px 0;
}

.img-right {
    float: right;
    margin: 5px 0 15px 15px;
}

/* ================================================== */




.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#purchase-now {
    position: fixed;
    bottom: 80px;
    left: 20px;
    z-index: 10000;
}

#purchase-now a {
    color: #ffffff;
    z-index: 1;
    position: absolute;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background: #78A938;
    display: block;
    font-size: 24px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    padding: 17px;
    text-decoration: none;
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(120, 169, 56, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(120, 169, 56, 0);
    }
}

#purchase-now a span {
    font-size: 14px;
    font-weight: 500;
    left: 8px;
    position: absolute;
    top: 18px;
    width: 100px;
}

#purchase-now .pn-hover {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    background: #ffffff;
    color: #78A938;
    width: 120px;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
    top: 8px;
    border-radius: 0px;
    left: 30px;
    opacity: 0;
}

#purchase-now:hover .pn-hover {
    opacity: 1;
    left: 40px;
}

.de-images {
    position: relative;
    width: 100%;
}

.de-images img {
    border-radius: 3px;
    -webkit-box-shadow: 2px 20px 30px 0px rgba(20, 20, 20, 0.3);
    -moz-box-shadow: 2px 20px 30px 0px rgba(20, 20, 20, 0.3);
    box-shadow: 2px 20px 30px 0px rgba(20, 20, 20, 0.3);
}

.di-small {
    position: absolute;
    width: 40%;
    z-index: 1;


}

.di-small-2 {
    position: absolute;
    width: 40%;
    right: -0;
    bottom: -15%;
    z-index: 1;
}

.di-big {
    width: 80%;
    height: 80%;
    margin-top: 15%;
    margin-left: 10%;
}

div.round, .rounded {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.opt-1 {
    display: inline-block;
}

.size96 {
    width: 96px;
    height: auto;
}

.domain-ext {
    margin-top: 15px;
}

.ext {
    border: solid 1px rgba(255, 255, 255, .2);
    display: inline-block;
    padding: 8px 10px 0px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 5px 10px 5px;
}

.ext h4 {
    font-size: 18px;
    line-height: 10px;
    margin-bottom: 0;
}

.border {
    border-color: #EFEFEF !important;
}

.tparrows {
    background: none !important;
}


.fc-header-toolbar {
    font-size: 14px;
}

.fc-content {
    color: #ffffff;
    padding: 3px;
}

.fc-view {
    background: #ffffff;
}

.fc-day-number {
    padding: 4px 8px !important;
}

.f-profile {
    margin-bottom: 0px;
}

.f-profile h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.fp-wrap {
    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.fpw-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.fpw-overlay-btm {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .6;
}

.f-invert .fpw-overlay-btm {
    opacity: 0;
}

.fpwo-wrap {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.fpwow-icons {
    display: inline-block;
    background: #ffffff;
    padding: 5px 10px 7px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.fpwow-icons a {
    color: #ffffff;
    padding: 0 5px;
}

.fpwow-icons i {
    font-size: 15px;
}

.fp-icon {
    margin-top: 20%;
    z-index: 2;
    opacity: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    display: table;
    text-align: center;
}

.fp-icon i {
    display: none;
    vertical-align: middle;
    display: table-cell;
    color: #fff;
    font-size: 36px;
    color: #ffffff;
    padding: 13px 0;
    background: rgba(var(--primary-color-rgb), .8);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.gray img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.demo-icon-wrap {
    margin-bottom: 30px;
}

.demo-icon-wrap i {
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    background: rgba(var(--secondary-color-rgb), .1);
    width: 48px;
    height: 48px;
    border-radius: 0px;
    padding: 15px 0;
}

.rtl .demo-icon-wrap i {
    margin-right: 0;
    margin-left: 20px;
}

.demo-icon-wrap-s2 {
    margin-bottom: 30px;
}

.demo-icon-wrap-s2 span {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    background: rgba(var(--secondary-color-rgb), .1);
    width: 48px;
    height: 48px;
    border-radius: 0px;
    padding: 15px 0;
}

.rtl .demo-icon-wrap-s2 span {
    margin-right: 0px;
    margin-left: 20px;
}

.demo-icon-wrap .text-grey {
    display: none;
}

.fp-wrap:hover {
    -webkit-box-shadow: 0 40px 40px 0 rgba(10, 10, 10, 0.1);
    -moz-box-shadow: 0 40px 40px 0 rgba(10, 10, 10, 0.1);
    box-shadow: 0 40px 40px 0 rgba(10, 10, 10, 0.1);
}

.fp-wrap:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);

    transform: scale(1.05);
}

.fp-wrap:hover .fpw-overlay-btm {
    opacity: 0;
}

.fp-wrap:hover .fpwow-icons a i {
    color: #fff;
}

.fp-wrap:hover .fp-icon {
    opacity: 1;
    margin-top: 0;
    margin-right: 0;
}

.fp-wrap:hover .fp-icon i {
    transform: scale(1.5);
}

i.big {
    display: inline-block;
    font-size: 48px;
}

.text-light .border {
    border-color: rgba(255, 255, 255, .1) !important;
}

.container-full {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.one-fourth {
    width: 24.9%;
    display: table-cell;
    vertical-align: middle;
}

.one-third {
    width: 33.3%;
    float: left;
}

.three-fourth {
    position: relative;
    width: 74.9%;
    height: 100%;
    display: table-cell;
}

.owl-carousel {
    position: relative;
    margin-top: -5px;
    bottom: -5px;
    margin-bottom: -15px;
}

.owl-stage-outer .feature-box-type-2 {
    overflow: none;
    margin: 30px 0 30px 0;
}

.owl-item.active.center .feature-box-type-2 {
    transform: scale(1.05);
}

.owl-item.active.center .feature-box-type-2,
.owl-item.active.center .feature-box-type-2 h4,
.owl-item.active.center .feature-box-type-2 i {
    color: #ffffff;
}

.owl-thumbs img{
    padding:3px;
}

#slider-carousel .owl-thumbs{
    padding:3px;
    margin-bottom:30px;
    width: auto;
}

#slider-carousel .owl-thumbs  button{
    opacity:1;
    border: none !important;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 20px;
    opacity: 1;
    overflow: hidden;
    opacity: .5;
}
#slider-carousel .owl-thumb-item.active{
    opacity:1;
}
#slider-carousel button.owl-thumb-item.active{
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
}
#slider-carousel .owl-thumb-item img{   
    background:#fff;
    padding:0;
    width:120px;
}

.schedule-item {
    padding: 40px 0 30px 0;
    border-bottom: solid 1px #ddd;
}

.schedule-listing:nth-child(even) {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(229, 229, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(229, 229, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(229, 229, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}

.schedule-item>div {
    float: left;
}

.schedule-item .sc-time {
    width: 160px;
    padding-top: 25px;
    color: #333;
}

.schedule-item .sc-pic {
    width: 120px;
}

.schedule-item .sc-pic img {
    width: 80px;
    height: auto;
}

.schedule-item .sc-name {
    font-weight: normal;
    font-size: 14px;
    width: 160px;
    padding-top: 15px;
}

.schedule-item .sc-name h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    line-height: 1.6em;
}

.schedule-item .sc-name span {
    font-weight: normal;
    font-size: 12px;
}

.schedule-item .sc-info {
    float: none;
    display: inline-block;
    width: 60%;
}

.schedule-item .sc-info h4 {
    margin-bottom: 10px;
}

.de_tab.tab_style_4 {
    border: none;
    background: none;
    border-top: none;
    
}
.de_tab.tab_style_4 .tab_single_content{
    padding:0 0 60px 0;
}
.text-light .de_tab.tab_style_4 .de_tab_content {
    border-top: none;
}
.de_tab.tab_style_4 .de_nav {
    position: relative;
    z-index: 1;
    text-align: center;
    background: none;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0;
    /*border: solid 1px #333;*/
}
.de_tab.tab_style_4 .de_nav.de_nav_dark li{
    background:#111;
    cursor: pointer;
}
.de_tab.tab_style_4 .de_nav.de_nav_dark li h3{
    font-weight: normal;
}

.de_tab.tab_style_4 .de_nav.de_nav_dark li h3,
.de_tab.tab_style_4 .de_nav.de_nav_dark li:hover h3 span{
    color:#ffffff;
}
.de_tab.tab_style_4 .de_nav.de_nav_dark li h4{
    color:rgba(255,255,255,.5);
}
.de_tab.tab_style_4 .de_nav li img {
    width: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .7;
}
.de_tab.tab_style_4 .de_nav li.active img {
    width: auto;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
.de_tab.tab_style_4 .de_nav li {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    padding: 15px 30px 15px 30px;
    min-width: 150px;
    margin: 0;
    /*border-right: solid 1px #333;*/
}
.de_tab.tab_style_4 .de_nav li span {
    margin: 0;
    padding: 0;
    background: none !important;
    border: none;
    width: auto;
    display: inline-block;
}
.de_tab.tab_style_4 .de_nav li:last-child {
    border-radius: 0 5px 5px 0;
    border-right: none;
}
.de_tab.tab_style_4 .de_nav li:first-child {
    border-radius: 5px 0 0 5px;
}
.de_tab.tab_style_4 .de_nav.de_nav_dark li:hover {
    background: #fff;
}
.de_tab.tab_style_4 .de_nav.de_nav_dark li:hover h3,
.de_tab.tab_style_4 .de_nav.de_nav_dark li:hover h3 span,
.de_tab.tab_style_4 .de_nav.de_nav_dark li:hover h4 {
    color: #000000;
}
.de_tab.tab_style_4 .de_nav li.active, .de_tab.tab_style_4 .de_nav li.active span {
    background: #333;
    color: #fff;
}
.text-light .de_tab.tab_style_4 .de_nav li.active {
    color: #fff;
}
.de_tab.tab_style_4 .de_nav li.active h3, .de_tab.tab_style_4 .de_nav li.active h4, .de_tab.tab_style_4 .de_nav li.active h4 span {
    color: #fff;
}
.tab_style_4 h3, .de_tab.tab_style_4 .de_nav li span {
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 600;
}
.tab_style_4 h4 {
    font-family: var(--body-font);
    margin: 0;
    font-size: 12px;
}

.list-boxed-s1 li{
    font-family: var(--title-font);
    display:table;
    padding:20px 30px;
    margin:0 auto;
    margin-bottom:20px;
    border: solid 4px rgba(255, 255, 255, .2);
    position: relative;
    
}

.list-boxed-s1 h3{
    position: relative;
    font-size: 32px;
    letter-spacing: 10px;
    z-index: 1;
}

.list-boxed-s1 li span{
    position: absolute;
    display: block;
    width: 0;
    height: 100%;
    background: #cccccc;
    top: 0;
    left: 0;
}

.list-boxed-s1 li:hover span{
    width: 100%;
}

strong {
    font-weight: bold;
}

.text-light strong {
    color: #fff;
}

.bg-white {
    background: #ffffff;
}

.bg-white-10 {
    background: rgba(255, 255, 255, .1);
}

.wh80 {
    width: 80%;
    height: 80%;
}

.border-top {
    border-top: solid 1px #e5e5e5;
}

.border-bottom {
    border-bottom: solid 1px #e5e5e5;
}

.dark-scheme header.border-bottom{
    border-bottom: solid 1px rgba(255, 255, 255, .1) !important;
}

.color-overlay {
    background: rgba(157, 130, 235, .3);
}

section .color-overlay {
    padding: 60px 0 60px 0;
}

.color-overlay-2 {
    background: rgba(26, 37, 48, .85);
}

.fontsize24 {
    font-size: 24px;
}

.fontsize32 {
    font-size: 32px;
}

.fontsize36 {
    font-size: 36px;
}

.fontsize40 {
    font-size: 40px;
}

.fontsize48 {
    font-size: 48px;
}

.overlay50 {
    background: rgba(0, 0, 0, .5)
}

.overlay60 {
    background: rgba(0, 0, 0, .6)
}

.overlay70 {
    background: rgba(0, 0, 0, .7)
}

.overlay80 {
    background: rgba(0, 0, 0, .8)
}

.hidden-xy {
    overflow: hidden;
}

.border-box {
    border: solid 1px #d2d2d2;
}

.display-table {
    display: table;
}

.display-table [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

#popup-box {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: -100%;
    overflow-y: auto;
}

#popup-box.popup-show {
    top: 0;
}

#popup-box.popup-hide {
    top: -100%;
}

.overlay-s1 {
    background: rgba(217, 42, 224, .5);
}

.overlay-s2 {
    background: rgba(255, 135, 140, .5);
}

.overlay-s3 {
    background: rgba(91, 35, 108, .5);
}

.circle-x {
    background: #333;
    display: inline-block;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    margin-top: 140px;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -webkit-box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.6);
}

#services-list {
    padding: 0;
    margin: 0;
}

#services-list li a {
    color: #fff;
}

#services-list li.active a:after {
    font-family: "FontAwesome";
    content: "\f054";
    float: right;
}

.de_light #services-list li a {
    color: #999;
}

#services-list li {
    font-weight: bold;
    list-style: none;
    margin: 0;
    background: rgba(0, 0, 0, .3);
    margin-bottom: 2px;
}

.de_light #services-list li {
    background: #eee;
}

#services-list li a {
    display: block;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}

#services-list li a:hover {
    color: #111;
}

.pic-services img {
    margin-bottom: 30px;
}

#services-list li.active a,
#services-list li.active a:hover {
    color: #fff;
    background: #333;
}

.project-images img {
    margin-bottom: 60px;
}

.teaser-text {
    font-family: var(--body-font);
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    line-height: normal;
    font-weight: 400;
}

#navigation {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    right: 20px;
    text-align: center;
    margin-bottom: 60px;
    z-index: 1000;
}

.nav-prev:before,
.nav-next:before,
.nav-exit:before {
    font-family: "FontAwesome";
    content: '\f177';
    color: #fff;
    padding: 20px;
    font-size: 24px;
    cursor: poInter;
}

.nav-exit:before {
    width: 100%;
    display: block;
}

.nav-next:before {
    content: '\f178';
    width: 100%;
    background: #555;
}

.nav-exit:before {
    content: '\f00d';
}

.de_light .nav-exit:before {
    color: #222;
}

.container-4 .de-team-list {
    width: 24.9%;
    float: left;
    position: relative;
}

.container-3 .de-team-list {
    width: 33.3%;
    float: left;
    position: relative;
}

.no-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    margin-bottom: 20px;
}

p.intro {
    color: #555;
    font-size: 16px;
    line-height: 1.5em;
}

.bg-grey {
    background: #f6f6f6;
}

.no-bottom {
    padding-bottom: 0 !important;
}

.no-top {
    padding-top: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.nopadding {
    padding: 0;
    margin: 0;
}

#filters i {
    margin-right: 10px;
}

.bg-side {
    position: relative;
    overflow: hidden;
}

.image-container {
    position: absolute;
    padding: 0;
    margin: 0;
    background-size: cover;
}

.image-container.pos-right {
    right: 0;
}

.image-container:hover .background-image{
    transform: scale(1.05);
}

.rtl .image-container.pos-right {
    right: auto;
    left: 0;
}

.image-slider {
    cursor: move;
}

.inner-padding {
    padding: 90px;
}

.inner-padding.pos-left {
    padding: 90px;
    padding-left: 0;
}

.rtl .inner-padding.pos-left {
    padding-left: 90px;
    padding-right: 0;
}

.no-padding,
section.no-padding {
    padding: 0;
}

.float-left {
    float: left;
}

#loader-area {
    display: none;
    background: #fff;
}

#loader-area {
    display: none;
    background: #111;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.page-overlay {
    display: none;
    width: 120px;
    height: 120px;
    border-radius: 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    margin: auto;
}

.teaser {
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
}

.teaser.style-2 {
    letter-spacing: 20px;
    text-transform: uppercase;
}

.teaser.style-3 {
    font-size: 14px;
}

.teaser.style-4 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.d-carousel{
    position: relative;
    display: flex;
    align-items: center;
}

.d-custom-nav{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.d-arrow-left, .d-arrow-right{
    display: none;
    cursor: pointer;
    position: absolute;
    margin-top: -10px;
    z-index: 100;
    width: 30px;
    height: 60px;
    background-color: rgba(255, 255, 255, 1.0);
}

.d-arrow-left{
    left: 25px;  
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
}

.d-arrow-right{
    right: 25px;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
}

.d-arrow-left i, .d-arrow-right i{
    position: absolute;
    top: 20px;
    color: #111111;
    font-size: 20px;
    font-weight: bold;
}
.d-arrow-left i{
    left: 8px;
}

.d-arrow-right i{
    right: 8px;
}

#d-coll-carousel{
    position: relative;
    display: flex;
    align-items: center;
}

.owl-nav{
    display: flex;
}

.owl-prev,.owl-next,
.d-nav-left, .d-nav-right{
    cursor: pointer;
    position: absolute;
    top: 27.5%;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1.0);
    border: solid 1px #ccc;
}

.dark-scheme .owl-prev, .dark-scheme .owl-next{
background: #000000;
color: #ffffff;
border-color: rgba(255, 255, 255, .1);
}

.owl-prev:hover,.owl-next:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
}

.owl-prev,
.d-nav-left{
    left: -12px;
    border-radius: 60px;
    padding-left: 4px;
}

.owl-next,
.d-nav-right{
    right: -12px;
    border-radius: 60px;
    padding-right: 4px;
}

.d-nav-left i, .d-nav-right i{
    position: absolute;
    top: 20px;
    color: #111111;
    font-size: 20px;
    font-weight: bold;
}
.owl-next i,
.d-nav-left i{
    top: 12px;
    left: 16px;
}

.d-nav-right i{
    top: 12px;
    right: 16px;
}

.owl-arrow {
    z-index: 100;
    background: #fff;
    margin-top: 48%;
    display: none;
    cursor: poInter;
}

.owl-arrow span {
    display: block;
    background: #555;
    position: absolute;
}

.owl-arrow .prev {
    left: 0;
}

.owl-arrow .next {
    right: 0;
}

.owl-arrow .prev:before,
.owl-arrow .next:before {
    font-family: "FontAwesome";
    content: '\f177';
    color: #222222;
    padding: 20px;
    font-size: 32px;
    display: block;
}

.owl-arrow .next:before {
    content: '\f178';
}

.owl-pagination {
    margin-top: 0px;
    height: 40px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    background-color: #555;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span {
    background: none;
}

.owl-theme .owl-controls .owl-page.active span:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    border: solid 2px #555;
    top: -2px;
    left: -2px;
}

/* new owl */

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
}

.owl-dots button {
    border: none;
    outline: none;
    padding: 0;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot span {
    display: none;
}

/* new owl close */

.text-light .owl-theme .owl-controls .owl-page span {
    background-color: #fff;
}

.text-light .owl-theme .owl-controls .owl-page.active span {
    background: none;
}

.text-light .owl-theme .owl-controls .owl-page.active span:before {
    border: solid 2px #fff;
}

.text-slider {
    color: #fff;
    display: inline-block;
}

.text-slider.med-text {
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
}

.text-slider.big-text {
    font-size: 120px;
    line-height: 120px;
    font-weight: bold;
}

.border-deco .text-item {
    display: inline-block;
}

.text-slider.dark {
    color: #222;
}

.text-item i {
    font-size: 60px;
    margin-top: 5px;
}

.text-slider.big-text i {
    font-size: 90px;
    margin-top: 15px;
}

.text-slider h1 {
    font-size: 60px;
}

.text-rotate-wrap {
    display: inline-block;
}

.text-rotate-wrap .text-item {
    display: none;
}

.red {
    color: #ff0000;
}

.teal {
    color: #009999;
}

.purple {
    color: #663366;
}

.green {
    color: #009900;
}

.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.center-y {
    position: relative;
}

.overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(20,20,20,.5) 25%, rgba(107,87,64,0.5) 100%);
    top: 0;
    padding: 100px 0 100px 0;
}

.overlay-bg.p60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.overlay-gradient {
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}

.overlay-solid {
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}

.overlay-bg.t0 {
    background: rgba(var(--primary-color-rgb), 0);
}

.overlay-bg.t20 {
    background: rgba(var(--primary-color-rgb), .2);
}

.overlay-bg.t30 {
    background: rgba(var(--primary-color-rgb), .3);
}

.overlay-bg.t40 {
    background: rgba(var(--primary-color-rgb), .4);
}

.overlay-bg.t50 {
    background: rgba(var(--primary-color-rgb), .5);
}

.overlay-bg.t60 {
    background: rgba(var(--primary-color-rgb), .6);
}

.overlay-bg.t70 {
    background: rgba(var(--primary-color-rgb), .7);
}

.overlay-bg.t80 {
    background: rgba(var(--primary-color-rgb), .8);
}

.overlay-bg.t90 {
    background: rgba(var(--primary-color-rgb), .9);
}

.overlay-bg.c1 {
    background: rgba(var(--primary-color-rgb), .8);
}

.overlay-bg.dark {
    background: rgba(20, 20, 20, .8);
}

.overlay-bg.gradient-blue-aqua {
    background: -moz-linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 1) 100%);
    background: linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc024481', endColorstr='#cc34b0bc', GradientType=1);
}

.full-height .overlay-bg {
    display: table;
}

.full-height .overlay-gradient {
    display: table;
}

.full-height .center-y {
    display: table-cell;
    vertical-align: middle;
}

.pic-hover {
    width: 100%;
    position: relative;
    overflow: hidden;
}

i.btn-action-hide {
    opacity: 0;
}

.pic-hover:hover .bg-overlay {
    background: rgba(0, 0, 0, .5);
}

.pic-hover:hover i.btn-action-hide {
    opacity: 1;
}

.pic-hover.hover-scale:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.center-xy {
    position: absolute;
    z-index: 5;
}

.center-xy i.btn-action {
    font-size: 24px;
    border: solid 2px rgba(255, 255, 255, .3);
    padding: 16px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    text-align: center;
    color: #fff;
}

.center-xy i.btn-action:hover {
    border-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, .3);
}

.center-xy i.btn-action.btn-play {
    padding-left: 20px;
}

.bg-grey,
section.bg-grey {
    background: rgba(var(--secondary-color-rgb), .1);
}

.wow {
    visibility: hidden;
}

#back-to-top {
    background: #ffffff;
    position: fixed;
    bottom: -40px;
    right: 10px;
    z-index: 1020;
    width: 36px;
    height: 36px;
    padding-top: 2px;
    text-align: center;
    line-height: 30px;
    cursor: poInter;
    border: 0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    outline: none;
    opacity: 0;
}

#back-to-top:hover {
    transform: scale(1.1);
}

#back-to-top.show {
    bottom: 20px;
    opacity: 1;
}

#back-to-top.hide {
    bottom: -40px;
}

#back-to-top:before {
    font-family: "FontAwesome";
    font-size: 18px;
    content: "\f106";
    color: #fff !important;
    position: relative;
}

.mouse-icon-click{
    position: absolute;
    z-index: 1000;
    width: 100%;
}

/* mouse scroll icon begin */

.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .5);
    -webkit-animation: intro 1s;
    animation: intro 1s;
}

.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #fff;
    -webkit-animation: finger 1s infinite;
    animation: finger 1s infinite;
}

.mouse-s1{
    bottom: 0;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/* mouse scroll icon close */

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow-anim {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.arrow-anim:before {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 32px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

a.read_more {
    display: inline-block;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
}

a.read_more:hover {
    color: #707070;
}

a.read_more i {
    margin-left: 8px;
}

.text-light a.read_more {
    color: #fff;
}

.text-black {
    color: #222;
}


#de-arrow-nav-set {
    text-align: center;
}

#de-arrow-nav-set i {
    color: #222;
    font-size: 32px;
}

#de-arrow-nav-set i.icon_menu {
    display: inline-block;
}

.profile_pic h4 {
    margin-bottom: 0px;
}

.profile_pic .subtitle {
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    color: #999;
}

.profile_pic .tiny-border {
    margin-bottom: 20px;
}

.profile_pic span {
    color: #fff;
}

.owl-custom-nav {
    position: absolute;
    z-index: 100;
    right: 4px;
    margin-top: 80px;
    width: 100%;
}

.owl-custom-nav .btn-next,
.owl-custom-nav .btn-prev {
    opacity: 0;
}

.owl-custom-nav .btn-next {
    right: -50px;
    position: absolute;
}

.owl-custom-nav .btn-prev {
    left: -50px;
    position: absolute;
}

.pf-hover:hover .btn-next {
    right: 30px;
    opacity: 1;
}

.pf-hover:hover .btn-prev {
    left: 30px;
    opacity: 1;
}

.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before {
    font-size: 18px;
}

.owl-custom-nav .btn-next:before {
    font-family: "FontAwesome";
    content: "\f178";
    color: #fff;
    padding: 12px;
}

.owl-custom-nav .btn-prev:before {
    font-family: "FontAwesome";
    content: "\f177";
    color: #fff;
    padding: 12px;
}

.owl-custom-nav a {
    text-decoration: none;
}

.owl-custom-nav .btn-prev:hover:before,
.owl-custom-nav .btn-next:hover:before {
    cursor: poInter;
}

#custom-owl-slider {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: #fff;
}

#custom-owl-slider .items {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 20;
    visibility: inherit;
    opacity: 1;
}

#custom-owl-slider .item img {
    display: block;
    width: 100%;
    height: 100%;
}

.owl-slider-nav {
    position: absolute;
    width: 100%;
}

.owl-slider-nav,
.owl-slider-nav div {
    position: absolute;
    z-index: 10;
    cursor: poInter;
}

.owl-slider-nav .next {
    right: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}

.owl-slider-nav .prev {
    left: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
}

.owl-slider-nav .next:before {
    font-family: "FontAwesome";
    font-size: 24px;
    content: "\f0da";
    color: #fff;
    position: absolute;
    right: -40px;
    top: -13px;
}

.owl-slider-nav .prev:before {
    font-family: "FontAwesome";
    font-size: 24px;
    content: "\f0d9";
    color: #fff;
    position: absolute;
    left: -40px;
    top: -13px;
}

.owl-dots {
    text-align: center;
}

.owl-dot {
    background: #ccc;
    border: none;
    margin: 5px;
    width: 6px;
    height: 6px;
    padding: 0;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}

.dark-scheme .owl-dot{
    background: rgba(255, 255, 255, .3);
}

.owl-item.active div blockquote {
    background: rgba(var(--secondary-color-rgb), .1);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.owl-item.active div blockquote,
.owl-item.active div blockquote .de_testi_by {
    opacity: 1;
}

.owl-item.active div blockquote:before {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border-radius: 0 0 15px 0;
}

.owl-stage {
    overflow: none;
}



/* shadow */

header.smaller,
.de-country,
.de-card,
.pricing-s1,
.de-image-text,
#quick_form,
.de_count.s2,
.de-event-item .d-date,
.de-map-wrapper iframe,
.de-box,
.de-review-list li,
.expand-custom,
.sc-opt,
.de-card-2 .div-content{
    -webkit-box-shadow: 10px 10px 40px 0 rgba(10,10,10, .1);
    -moz-box-shadow: 10px 10px 40px 0 rgba(10,10,10, .1);
    box-shadow: 10px 10px 40px 0 rgba(10,10,10, .1);
}

.de-country:hover,
.de-card:hover,
.de-image-text:hover,
.dropdown ul{
    -webkit-box-shadow: 0 4px 6px 0 rgba(10,10,10, .2);
    -moz-box-shadow: 0 4px 6px 0 rgba(10,10,10, .2);
    box-shadow: 0 4px 6px 0 rgba(10,10,10, .2);
}

.rtl .carousel-control-next{
    right: 0;
}

.rtl .carousel-control-prev{
    left: 0;
    right: auto;
}

.carousel-control-next-icon:after, 
.carousel-control-prev-icon:after{
    font-family: FontAwesome;
    content: "\f104";
    font-size: 32px;
}

.carousel-control-next-icon:after{
    content: "\f105";
}

.de-event-item{
    position: relative;
    margin-bottom: 20px;
}
.de-event-item .d-image{
    position: relative;
}
.de-event-item .d-image-wrap{
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 2;
}
.de-event-item .d-image img{
    width: 100%;
    position: relative;
}
.de-event-item .d-date{
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 30px;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
}

.rtl .de-event-item .d-date{
    left: auto;
    right: 20px;
}

.de-event-item .d-date span{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}
.de-event-item .d-date .d-mm{
    margin-bottom: 2px;
}
.de-event-item .d-date .d-dd{
    font-size: 40px;
    margin-bottom: 4px;
}
.de-event-item .d-shadow{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #007bff;
    left: 98px;
    top: -10px;
}

.rtl .de-event-item .d-shadow{
    left: auto;
    right: 2px;
}

.de-event-item .d-text{
    padding: 30px;
    border: solid 4px rgba(255, 255, 255, .1);
}

.de-event-item .d-text h4{
    font-family: var(--body-font);
    letter-spacing: 0;
    font-size: 26px;
}

.rtl .de-event-item:hover .d-date{
    top: -20px;
    left:  auto;
    right:  20px;
}
.rtl .de-event-item:hover .d-shadow{
     top: -20px;
     left: auto;
     right: 0;
}
.de-event-item:hover img{
    transform: scale(1.1);
}
.de-event-item .d-location{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 3;
    background: #ffffff;
    padding: 0 10px;
    font-weight: bold;
    border-radius: 30px;
}

.rtl .de-event-item .d-location{
    left: auto;
    right: 20px;
}

.de-map-wrapper iframe{
    width: 100%;
    height: 450px;
    border: solid 1px #cccccc;
}

.de-location-address{
    font-weight: 400;
}

.de-box{
    padding: 30px;
    border: solid 1px rgba(255, 255, 255, .3);
}

.menu-item{
    color: #ffffff;
  display:table;
  width:100%;
  padding-bottom: 5px;
  margin-bottom:5px;
  border-bottom: solid 1px rgba(255, 255, 255, .1);
}


.menu-item.thead{
  font-weight:bold;
  border: none;
}

.menu-item.thead .c1{
  font-family: var(--title-font);
  position: relative;
  font-size:20px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.menu-item.thead .c1:after{
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  top: 14px;
  margin-left: 10px;
  width: 30px;
}

.text-light .menu-item .c1{color:#fff;}

.menu-item .c1,.c2,.c3{
    display:table-cell;
    width:auto;
 }
  .menu-item .c1{
  width:60%;
 }

 .menu-item .c1 i{
  font-size: 16px;
  margin-left: 10px;
 }
 
 .menu-item .c1 span{
   padding:2px 4px 2px 5px;
   color:#ffffff;
   margin-left:10px;
   text-transform:uppercase;
   letter-spacing:2px;
   font-weight:bold;
   font-size: 10px;
 }
 
 
 .menu-item.desc{
 margin-bottom:5px;
 }
 
.menu-item .c1 span.disc{
margin-right:10px;
text-transform:uppercase;
color:#fff;
padding:2px 5px 2px 10px;
}
 
.menu-item.thead .c2, .menu-item.thead .c3{
  font-family:var(--title-font);
  font-size:16px;
  font-weight:600;
}

.menu-item .c2, .menu-item .c3{    
    white-space: nowrap;
    width:20%;
  text-align:center;
  line-height:1.5em;
  font-size:18px;
}
 
.menu-item.thead .c2 span, .menu-item.thead .c3 span{
display:block;
 padding-right:10px;
 font-size:12px;
 }

.menu-item .c2 span,
.menu-item .c3 span{
  display: inline-block;
  margin-right: 5px;
  color:rgba(255, 255, 255, .5);
}






